---
const { frontmatter, url } = Astro.props.project;
---

<!-- <div class="card">
	<div class="titleCard" style={`background-image:url(${frontmatter.img})`}>
		<h1 class="title">{frontmatter.title}</h1>
	</div>
	<div class="descCard">
		<p class="desc">{frontmatter.description}</p>
		<div class="tags">
			Tagged:
			{frontmatter.tags.map((t) => (
				<div class="tag" data-tag={t}>
					{t}
				</div>
			))}
		</div>
		<a class="link" href={url}>
			<span class="linkInner">View</span>
		</a>
	</div>
</div> -->